{% extends "../mainmenu/base.html" %}

{% block head %}
{% endblock head %}

{% block title %}{{ company }}{% endblock %}

{% block content %}
  <h1 class="text-primary text-center mt-3">{{ company }}</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active text-primary bg-white" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Company Details</a>
          </li>

          {% if company.wikislug %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="wikipedia-tab" data-bs-toggle="tab" href="#wikipedia" role="tab" aria-controls="wikipedia" aria-selected="false">Wikipedia</a>
            </li>
          {% endif %}

          {% if timeline_json %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="timeline-tab" data-bs-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">Timeline</a>
            </li>
          {% endif %}
          
          {% if references %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="references-tab" data-bs-toggle="tab" href="#references" role="tab" aria-controls="references" aria-selected="false">References</a>
            </li>
          {% endif %}

          <!-- target = "_blank" often does not open a new tab, target="frameName" does.
           https://stackoverflow.com/questions/29444051/link-with-target-blank-does-not-open-in-new-tab-in-chrome-->
          {% if map %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" href="{{nls_url}}"  target="frameName" rel="noopener noreferrer" role="tab">NLS Map 1900 Series</a>
            </li>
          {% endif %}

          {% if map %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" href="{{nls_url_1944_1973}}"  target="frameName" rel="noopener noreferrer" role="tab">NLS Map 1944-1973 Series</a>
            </li>
          {% endif %}

        </ul>

        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="notes-tab">
            {% if posts %}
              {% for post in posts %}
                <h2 class="text-primary">{{ post.title}}</h2>
                {% autoescape off %}
                  {{ post.body }}
                {% endautoescape %}
              {% endfor %}
            {% endif %}
    
            <h2 class="text-primary">Routes</h2>
            {% for route in routes %}
              <li>{{route}}</li>
            {% empty %}
              No routes recorded for this company.
            {% endfor %}
      
            <h2 class="text-primary">Predecessor Companies</h2>
            {% for predecessor_company in predecessor_companies %}
              <li>{{predecessor_company}}</li>
            {% empty %}
              No predecessors recorded for this company.
            {% endfor %}
      
            <h2 class="text-primary">Successor Companies</h2>
            {% if company.successor_company %}
              <li>{{company.successor_company}}</li>
            {% else %}
              No successor recorded for this company.
            {% endif %}
      
            <h2 class="text-primary">Wikipedia Categories</h2>
            {% for category in wiki_categories %}
              <li>{{category}}</li>
            {% empty %}
              No wiki categories for this company.
            {% endfor %}
      
            {% if company.notes %}
            <h2 class="text-primary">Notes</h2>
              {% autoescape off %}
              <div>{{ company.notes }}</div>
              {% endautoescape %}
            {% endif %}

          </div>

          {% if company.wikislug %}
            <div class="tab-pane fade" id="wikipedia" role="tabpanel" aria-labelledby="wikipedia-tab">
              <iframe src='https://en.wikipedia.org/wiki/{{company.wikislug}}' id="Wikiframe" width="100%" height="700" marginwidth="300">
                <p>Your browser does not support iframes - open map using 'Open Popup' on left</p>
              </iframe>
            </div>
          {% endif %}

          {% if timeline_json %}
            <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
              <div id="visualization">
                <script type="text/javascript">
                  var container = document.getElementById('visualization');
                  var jsonObject = JSON.parse('{{ timeline_json | safe | escapejs }}');
                  var items = new vis.DataSet(jsonObject);
                  var options = {orientation: 'top', type: 'point'};
                  var timeline = new vis.Timeline(container, items, options);
                </script>
              </div>
            </div>
          {% endif %}

          {% if references %}
            <div class="tab-pane fade mt-4" id="references" role="tabpanel" aria-labelledby="references-tab">
              <ul>
                {% for reference in references %}
                
                  {% if '/ukla/' in reference.url %}
                    <h3><a href="https://www.legislation.gov.uk{{reference.url}}">{{ reference.full_reference }}</a></h3>
                  {% elif reference.url %}
                    <h3><a href="{{reference.url}}">{{ reference.full_reference }}</a></h3>
                  {% else %}
                    <h3>{{reference.full_reference}}</h3>
                  {% endif %}

                  {% if reference.description %}
                    {% autoescape off %}
                    {{reference.description}}
                    {% endautoescape %}                   
                  {% endif %}

                {% endfor %}
              </ul>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Select only links meant for tab navigation
      var tabLinks = document.querySelectorAll('.nav-tabs a[data-bs-toggle="tab"]');

      tabLinks.forEach(function(link) {
        link.addEventListener('shown.bs.tab', function(event) {
          // Remove active classes from all tab links
          tabLinks.forEach(function(link) {
            link.classList.remove('text-primary', 'bg-white');
            link.classList.add('text-white', 'bg-primary');
          });

          // Add active classes to the newly activated tab link
          event.target.classList.add('text-primary', 'bg-white');
          event.target.classList.remove('text-white', 'bg-primary');
        });
      });

      // Highlight the initially active tab link
      var initialActiveTabLink = document.querySelector('.nav-tabs .nav-link.active');
      if (initialActiveTabLink) {
        initialActiveTabLink.classList.add('text-primary', 'bg-white');
        initialActiveTabLink.classList.remove('text-white', 'bg-primary');
      }
    });
  </script>

{% endblock %}