{% extends "../mainmenu/base.html" %}

{% block head %}
  <style>
    .row-height {
        min-height: 38px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">Owner Operators</h1>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="text-left"> <!-- Added text-center class -->
          <form method='POST' action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ selection_criteria }}
            <input type="submit" class="btn btn-primary" name="submit_input" value="Submit">
          </form>
        </div>
      </div>
    </div>

    {% if not queryset %}
      <div class="col-md-12">
        <div class="alert alert-success" role="alert">No Owner Operators Found for those Search Criteria</div>
      </div>
    {% else %}
      {% with queryset|slice:":10" as first_third %}
      {% with queryset|slice:"10:20" as second_third %}
      {% with queryset|slice:"20:" as third_third %}
      <div class="container">
      
        <div class="row">
          <div class="col-md-4">
            {% for company in first_third %}
              <div class="row mb-1 d-flex align-items-stretch row-height">
                <div class="col-12 d-flex align-items-left justify-content-left">
                    <div><a href="{% url 'companies:company' company.id %}">{{company.name}}</a></div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="col-md-4">
            {% for company in second_third %}
              <div class="row mb-1 d-flex align-items-stretch row-height">
                <div class="col-12 d-flex align-items-left justify-content-left">
                  <div><a href="{% url 'companies:company' company.id %}">{{company.name}}</a></div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="col-md-4">
            {% for company in third_third %}
              <div class="row mb-1 d-flex align-items-stretch row-height">
                <div class="col-12 d-flex align-items-left justify-content-left">
                  <div><a href="{% url 'companies:company' company.id %}">{{company.name}}</a></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% include "mainmenu/pagination.html" with page=queryset %} 

    {% endif %}
  </div>
{% endblock content %}