{% extends "../mainmenu/base.html" %}

{% block head %}
  <style>
    .row-height {
        min-height: 38px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">Owner Operators</h1>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="text-left"> <!-- Added text-center class -->
          <form method='POST' action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ selection_criteria }}
            <input type="submit" class="btn btn-primary" name="submit_input" value="Submit">
          </form>
        </div>
      </div>
    </div>


  {% with queryset|slice:":13" as first_third %}
  {% with queryset|slice:"13:26" as second_third %}
  {% with queryset|slice:"26:" as third_third %}
  <div class="container">
  
    <div class="row">
      <div class="col-md-4">
        {% for company in first_third %}
          {% if company.post_fk %}
            <div><a href="{% url 'notes:post_detail' company.post_fk.slug %}">{{company.name}}</a></div>
          {% elif company.wikislug %}
            <div><a href="https://en.wikipedia.org/wiki/{{company.wikislug}}"> {{ company.name }}</a></div>
          {% else %}
            <div>{{ company.name }}</div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-md-4">
        {% for company in second_third %}
          {% if company.post_fk %}
          <div><a href="{% url 'notes:post_detail' company.post_fk.slug %}">{{company.name}}</a></div>
          {% elif company.wikislug %}
            <div><a href="https://en.wikipedia.org/wiki/{{company.wikislug}}"> {{ company.name }}</a></div>
          {% else %}
            <div>{{ company.name }}</div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-md-4">
        {% for company in third_third %}
          {% if company.post_fk %}
          <div><a href="{% url 'notes:post_detail' company.post_fk.slug %}">{{company.name}}</a></div>
          {% elif company.wikislug %}
            <div><a href="https://en.wikipedia.org/wiki/{{company.wikislug}}"> {{ company.name }}</a></div>
          {% else %}
            <div>{{ company.name }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% include "mainmenu/pagination.html" with page=queryset %} 

  </div>
{% endblock content %}