{% extends "../mainmenu/base.html" %}

{% block content_title %}Locomotive Manufacturer{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

  <form method='POST' action="" enctype="multipart/form-data">
    <p>
    {% csrf_token %}
    {{ selection_criteria }}
    <input type="submit" name="submit_input" value="Submit">
    </p>
  </form>

  {% for manufacturer in queryset %}
    {% if manufacturer.post_fk %}
      <h4><a href="{% url 'notes:post_detail' manufacturer.post_fk.slug %}">{{manufacturer.name}}</a></h4>
    {% elif manufacturer.wikislug %}
      <h4><a href="https://en.wikipedia.org/wiki/{{manufacturer.wikislug}}">{{ manufacturer.name }}</a></h4>
    {% else %}
      <h4>{{ manufacturer.name }}</h4>
    {% endif %}
  {% empty %}
    No manufacturers have been loaded yet.
  {% endfor %}

  {% include "mainmenu/pagination.html" with page=manufacturer_list %}

{% endblock content %}