{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LiveTrainTimes</title>
    <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>
   
  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="{% url 'mainmenu:index' %}">
              Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'rtt:getlocations' %}">Select Station</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'users:register' %}">Register</a></li>
              <li><a href="{% url 'users:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      <div id="header-logo-image">
      </div>
    
    <div class="container">

      <div class="page-header">
        {% block header %}{% endblock %}
      </div>
      <div>
        {% block content %}{% endblock %}
      </div>

    </div> <!-- /container -->
 
    <footer>
      <div class="container">
            Website under development. Data provided is neither comprehensive, complete or correct. Data is sourced from <a href="https:\\www.transportapi.com">TransportAPI.com</a>. See <a href="https:\\www.transportapi.com/credits">the transport.api credits page</a> for further information on data sources.
      {% if location.acknowledgements %}
        Also {{location.acknowledgements}}
      {% endif %}
      </div>
  </footer>
  </body>
</html>