{% extends "../mainmenu/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<form action="{% url 'rtt:gettimes' location.id %}" method="post">

  {% csrf_token %}
  {% bootstrap_form form %}

  {% url 'rtt:getlivefreight' location.crscode as button_url %}
  {% bootstrap_button "Current Freight Movements" button_type="link" href=button_url button_class="btn-primary" %}

  {% url 'rtt:gettimes' location.crscode as button_url %}
  {% bootstrap_button "Current Timetable" button_type="link" href=button_url  button_class="btn-primary" %}

  {% url 'rtt:getlivepassenger' location.crscode as button_url %}
  {% bootstrap_button "Current Passenger Movements" button_type="link" href=button_url button_class="btn-primary" %}
</form>

{% endblock content %}