{% extends "../mainmenu/base.html" %}

{% block content_title %}{{ livefreight.station_name }}{% endblock %}
{% block content_desc %}Upcoming Freight Movements @   {{ livefreight.time_of_day }}{% endblock %}

{% block content %}

<!--<div class="bg-light container">-->
    <form method='POST' action="" enctype="multipart/form-data">
      <p>{% csrf_token %}
      {{ selection_criteria.media.js }}
      {{ selection_criteria }}
      <input type="submit" name="submit_input" value="Submit">
      </p>
  </form>

  {% if livefreight %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">UID</th>
      <th scope="col">Service</th>
      <th scope="col">Arr.</th>
      <th scope="col">Dep.</th>
      <th scope="col">Pass.</th>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">Latest Status</th>
      <th scope="col">Operated By</th>
    </tr>
  </thead>
    <tbody>
      {% for l in livefreight.updates.all %}
      <tr>
          <td><a href="{% url 'rtt:getservice' l.train_uid  %}"> {{ l.train_uid }}</a></td>
          <td>{{l.service}}</td>
          <td>{{l.aimed_arrival_time }} </td>
          <td>{{l.aimed_departure_time }}</td>
          <td>{{l.aimed_pass_time }}</td>
          <td>{{l.origin_name}}</td>
          <td>{{l.destination_name}}</td>
          <td>{{l.status}}</td>
          <td>{{l.operator_name}}</td>
      {% empty %}
          <h3>No Upcoming Freight Movements For This Location</h3>
      {% endfor %}
      </tr>
    </tbody>
</table>
{% else %}
  <p>No data found</p>
{% endif %}

{% endblock content %}