{% extends "../mainmenu/base.html" %}

{% block title %}{{ departures.station_name }}{% endblock %}

{% block content %}

<h1 class="text-primary text-center">{{ departures.station_name }}</h1>
<h2 class="text-primary text-center">Timetabled Departures @   {{ departures.time_of_day }}</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Dep.</th>
      <th scope="col">Plat.</th>
      <th scope="col">From</th>
      <th scope="col">Destination</th>
      <th scope="col">Operated By</th>
    </tr>
  </thead>
  <tbody>
      {% for d in departures.departures.all %}
    <tr>
      <td>{{d.aimed_departure_time }}</td>
      <td>{{d.platform}}</td>
      <td>{{d.origin_name}}</td>
      <td>{{d.destination_name}}</td>
      <td>{{d.operator_name}}</td>
      {% empty %}
      <li>No Departure Times available.</li>
      {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock content %}