{% extends "../mainmenu/base.html" %}
{% block title %}Administrative Area Select{% endblock %}
{% block header %}{% load django_bootstrap5 %}{% endblock %}
{% block content_title %}Choose a County / Unitary Authority{% endblock %}
{% block content_desc %}{% endblock %}
{% block content %}
  <form method='POST' action="">
      {% csrf_token %}
      {{location_list}}
      <p></p><p></p>
      {% bootstrap_button "Generate Map" button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock content %}