{% extends "mainmenu\base.html" %}
{% block title %}Route Selection{% endblock %}
{% block header %}{% load django_bootstrap5 %}{% endblock %}
{% block content_title %}Choose a Route{% endblock %}
{% block content_desc %}{% endblock %}
{% block content %}

    <form method='POST' action="" enctype="multipart/form-data">
      <p>
      {% csrf_token %}
      {{ selection_criteria }}
      <input type="submit" name="submit_input" value="Submit">
      </p>
    </form>
    
    <table>
    {% for elr in elrs %}
      {% if elr.itemAltLabel %}
      <h4>
        <tr>
          <td><a href="{% url 'locations:elr_map' elr.id %}" class="btn btn-primary"><i class="fa fa-solid fa-map"></i></a></td>
          <td><a href="{% url 'locations:elr_storymap' elr.id %}" class="btn btn-primary"><i class="fa fa-solid fa-book"></i></a></td>
          <td>{{elr.itemAltLabel}} : {{elr.itemLabel}}</td>
        </tr>
      </h4>
      {% endif %}
 
    {% empty %}
      <h2>No Engineer Line References found.</h2>
    {% endfor %}
    </table>
{% endblock content %}