{% extends "../mainmenu/base.html" %}

{% block head %}
  <style>
    .row-height {
        min-height: 38px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}

{% block content_title %}Engineer's Location References (ELRs){% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

    <form method='POST' action="" enctype="multipart/form-data">
      <p>
      {% csrf_token %}
      {{ selection_criteria }}
      <input type="submit" name="submit_input" value="Submit">
      </p>
    </form>
    
    <div class="container">
      <div class="row mb-1">
        <div class="col-1 d-flex align-items-center justify-content-center" style="font-weight: bold;">Map</div>
        <div class="col-1 d-flex justify-content-center" style="font-weight: bold;">Storymap</div>      
        <div class="col-10" style="font-weight: bold;">ELR Data</div>
      </div>
    </div>

    {% for elr in queryset %}
      {% if elr.itemAltLabel %}
        <div class="container">
          <div class="row mb-1 d-flex align-items-stretch row-height">
            <div class="col-1 d-flex align-items-center justify-content-center">
              {% if elr.itemAltLabel %}
                <a href="{% url 'locations:elr_map' elr.id %}" class="btn btn-primary"><i class="fa fa-solid fa-map"></i></a>
              {% else %}
              -
              {% endif %}
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
              {% if elr.itemAltLabel %}
                <a href="{% url 'locations:elr_storymap' elr.id %}" class="btn btn-primary"><i class="fa fa-solid fa-book"></i></a>
              {% else %}
              -
              {% endif %}
            </div>
            <div class="col-10 ">
                <a href="{% url 'locations:elr_display_osmdata' elr.id %}">{{elr.itemAltLabel}} : {{elr.itemLabel}}</a>
            </div>
          </div>
        </div>
      {% endif %}
 
    {% empty %}
      <h2>No Engineer Line References found.</h2>
    {% endfor %}

    {% include "mainmenu/pagination.html" with page=queryset %} 

{% endblock content %}