{% extends "../mainmenu/base.html" %}

{% block content_title %}Engineer's Location References (ELRs){% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

    <form method='POST' action="" enctype="multipart/form-data">
      <p>
      {% csrf_token %}
      {{ selection_criteria }}
      <input type="submit" name="submit_input" value="Submit">
      </p>
    </form>
    
    <table>
    {% for elr in elrs %}
      <h4>
        <!-- Exclude items from Wikidata that have no description -->
        {% if elr.itemAltLabel %}
            {{elr.itemAltLabel}} : {{elr.itemLabel}}
            <a href="{% url 'locations:elr_map' elr.id %}" class="btn btn-primary"><i class="fa fa-solid fa-map"></i></a>
            <a href="{% url 'locations:elr_storymap' elr.id %}" class="btn btn-primary"><i class="fa fa-solid fa-book"></i></a>
        {% endif %}
      </h4>
 
    {% empty %}
      <h2>No Engineer Line References found.</h2>
    {% endfor %}
    </table>
{% endblock content %}