{% extends "../mainmenu/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<style>
.map-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
}
.map-container .folium-map {
    width: 100% !important;
    height: 100%;
}
</style>
{% endblock %}

{% block content %}
<h1 class="text-primary text-center">{{ title }}</h1>

{% if elrs %}
  <div class="container-fluid mb">
    <h2>Engineering Line References covered by this route:</h2>
    {% for elr in elrs %}
      <h4>{{ elr.itemAltLabel }} {{ elr.itemLabel }}</h4>
    {% endfor %}
  </div>
{% endif %}

{% if map %}
  <div class="container-fluid mb-4">
    <div class="map-container">
      {{ map|safe }}
    </div>
    <script>{{ map.script.render|safe }}</script>
  </div>
{% endif %}

{% endblock %}
