{% extends "../mainmenu/base.html" %}

{% block content_title %}{{ heritage_site }}{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
  
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        Type: {{ heritage_site.tpam_type }}
        ; {{ heritage_site.type }}
        <br>
        Country: {{ heritage_site.country }}
        <br>
        Notes: {{ heritage_site.notes|linebreaks|safe }}
      </div>
    </div> <!-- panel -->

{% endblock content %}