{% extends "../mainmenu/base.html" %}

{% block content_title %}Locations Menu{% endblock %}
{% block content_desc %}{% endblock %}
{% block content %}

    <div class="bd-example">
        <ul class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:locations' %}">Locations</a>    
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:routes' %}">Routes</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:routes_southern' %}">Southern Railway Routes</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:elrs' %}">ELRs</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:regional_map_select' %}">Regional Railway Map</a>

            {% comment %}
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:heritage_sites' %}">Museums & Heritage Sites </a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:visits' %}">Heritage Site Visits</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:trackmap' %}">Track Diagrams</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:regional_map_select' %}">Closed Lines Map</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:location_timeline' %}">Location Timeline</a>
            {% endcomment %}
        </ul>
    </div>
{% endblock %}