{% extends "../mainmenu/base.html" %}

{% block head %}
<title>Timeline</title>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  #visualization {
    border: 5px solid rgb(52, 14, 241);
  }
  .vis-item {
    border-color: rgb(38, 13, 113);
    background-color: rgb(99, 151, 230);
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
  }
</style>
{% endblock %}

{% block content_title %}
Location Timeline
{% endblock %}

{% block content %}
<div id="visualization">
<script type="text/javascript">
  var container = document.getElementById('visualization');
  var jsonObject = JSON.parse('{{ timeline_json | escapejs }}');
  var items = new vis.DataSet(jsonObject);
  var options = {orientation: 'top'};
  var timeline = new vis.Timeline(container, items, options);
</script>
</div>
{% endblock content %}
