{% extends "../mainmenu/base.html" %}

{% block head %}
<style>
  .folium-map-wrapper {
    width: 100%;
    max-width: 1200px; /* optional, but recommended */
  }
</style>

{% endblock head %}

{% block title %}{{ location }}{% endblock %}

{% block content %}
  <h1 class="text-primary text-center mt-3">{{ location }}</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active text-primary bg-white" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Location Details</a>
          </li>

          {% if location.wikislug %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="wikipedia-tab" data-bs-toggle="tab" href="#wikipedia" role="tab" aria-controls="wikipedia" aria-selected="false">Wikipedia</a>
            </li>
          {% endif %}

          {% if location.disused_stations_slug %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="disused-stations-tab" href="http://disused-stations.org.uk/{{location.disused_stations_slug}}" role="tab">Disused Stations Website</a>
            </li>
          {% endif %}

          {% if location.atcocode %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" href="{% url 'rtt:location' location.crscode %}">Real Time Train Movements</a>
            </li>
          {% endif %}

          <!-- Removed in favour of table of events currently
          {% if timeline_json %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="timeline-tab" data-bs-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">Timeline</a>
            </li>
          {% endif %} -->
          
          {% if references %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="references-tab" data-bs-toggle="tab" href="#references" role="tab" aria-controls="references" aria-selected="false">References</a>
            </li>
          {% endif %}

          {% if location_area_map %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="location-area-map-tab" data-bs-toggle="tab" href="#location_area_map" role="tab" aria-controls="location_area_map" aria-selected="false">Location Area Map</a>
            </li>
          {% endif %}
          <!-- target = "_blank" often does not open a new tab, target="frameName" does.
           https://stackoverflow.com/questions/29444051/link-with-target-blank-does-not-open-in-new-tab-in-chrome-->
          {% if map %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" href="{{nls_url}}"  target="frameName" rel="noopener noreferrer" role="tab">NLS Map 1900 Series</a>
            </li>
          {% endif %}

          {% if map %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" href="{{nls_url_1944_1973}}"  target="frameName" rel="noopener noreferrer" role="tab">NLS Map 1944-1973 Series</a>
            </li>
          {% endif %}
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="notes-tab">
            <table class="border-primary" width="99%" frame="box" id="depot">
            
              <tr>
                <tr><td><strong>Categories:</strong></td><td>
                  {% for category in categories %}
                    {{category}} 
                  {% endfor %}
                </td>
                </tr>
                {% if location.postcode %}
                  <tr><td width="35%"><strong>Postcode:</strong></td><td>{{location.postcode }}</td></tr>
                {% endif %}
                {% if location.atcocode %}
                  <tr><td width="35%"><strong>ATCO code:</strong></td><td>{{location.atcocode }}</td></tr>
                {% endif %}
                {% if location.tiploccode %}
                  <tr><td width="35%"><strong>Tiploc Code:</strong></td><td>{{location.tiploccode }}</td></tr>
                {% endif %}
                {% if location.crscode %}
                  <tr><td width="35%"><strong>CRS code:</strong></td><td>{{location.crscode }}</td></tr>
                {% endif %}
                {% if location.geometry %}
                  <tr><td width="35%"><strong>Longitude/Latitude:</strong></td><td>{{location.geometry.x|floatformat:4}} {{location.geometry.y|floatformat:4}}</td></tr>
                {% endif %}
                {% if location.easting %}
                  <tr><td width="35%"><strong>Eastings/Northings:</strong></td><td>{{ location.easting|floatformat:0 }} {{ location.northing|floatformat:0 }}</td></tr>
                {% endif %}
                <tr><td><strong>Key Dates:</strong></td><td>
                  {% for location_event in location_events %}
                    {{location_event.displaydate}}:  {{location_event.description}}<br>
                  {% endfor %}
                </td>
              </tbody>
            </table>

            {% if location.notes %}
              <p>
                {% autoescape off %}
                {{ location.notes }}
                {% endautoescape %}
              </p>
            {% endif %}

            {% if posts %}
              <div class="tab-pane fade show active mt-4" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                {% for post in posts %}
                  <h2>{{ post.title}}</h2>
                  {% autoescape off %}
                  {{ post.body }}
                  {% endautoescape %}
                {% endfor %}
              </div>
            {% endif %}

            <div class="container">
              <div class="d-flex justify-content-center">
                <div class="folium-map-wrapper">
                    {% if map %}
                      {{map|safe}}
                    <script script>{{map.script.render|safe}}</script>
                    {% else %}
                      <h4>No co-ordinate data available for this selection to generate the map</h4>
                    {% endif %}
                  </div>
              </div>
            </div>



          </div>

          {% if location.wikislug %}
            <div class="tab-pane fade" id="wikipedia" role="tabpanel" aria-labelledby="wikipedia-tab">
              <iframe src='https://en.wikipedia.org/wiki/{{location.wikislug}}' id="Wikiframe" width="100%" height="700" marginwidth="300">
                <p>Your browser does not support iframes - open map using 'Open Popup' on left</p>
              </iframe>
            </div>
          {% endif %}

          {% if location_area_map %}
            <div class="tab-pane fade"
                id="location_area_map"
                role="tabpanel"
                aria-labelledby="location-area-map-tab">

              <div id="location-area-map-container"></div>

              <script type="text/template" id="location-area-map-template">
                {{ location_area_map|safe }}
              </script>

            </div>
          {% endif %}




          {% if timeline_json %}
            <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
              <div id="visualization">
                <script type="text/javascript">
                  var container = document.getElementById('visualization');
                  var jsonObject = JSON.parse('{{ timeline_json | safe | escapejs }}');
                  var items = new vis.DataSet(jsonObject);
                  var options = {orientation: 'top', type: 'point'};
                  var timeline = new vis.Timeline(container, items, options);
                </script>
              </div>
            </div>
          {% endif %}

          {% if references %}
            <div class="tab-pane fade mt-4" id="references" role="tabpanel" aria-labelledby="references-tab">
              <ul>
                {% for reference in references %}
                
                  {% if '/ukla/' in reference.url %}
                    <h3><a href="https://www.legislation.gov.uk{{reference.url}}">{{ reference.full_reference }}</a></h3>
                  {% elif reference.url %}
                    <h3><a href="{{reference.url}}">{{ reference.full_reference }}</a></h3>
                  {% else %}
                    <h3>{{reference.full_reference}}</h3>
                  {% endif %}

                  {% if reference.description %}
                    {% autoescape off %}
                    {{reference.description}}
                    {% endautoescape %}                   
                  {% endif %}

                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Select only links meant for tab navigation
      var tabLinks = document.querySelectorAll('.nav-tabs a[data-bs-toggle="tab"]');

      tabLinks.forEach(function(link) {
        link.addEventListener('shown.bs.tab', function(event) {
          // Remove active classes from all tab links
          tabLinks.forEach(function(link) {
            link.classList.remove('text-primary', 'bg-white');
            link.classList.add('text-white', 'bg-primary');
          });

          // Add active classes to the newly activated tab link
          event.target.classList.add('text-primary', 'bg-white');
          event.target.classList.remove('text-white', 'bg-primary');
        });
      });

      // Highlight the initially active tab link
      var initialActiveTabLink = document.querySelector('.nav-tabs .nav-link.active');
      if (initialActiveTabLink) {
        initialActiveTabLink.classList.add('text-primary', 'bg-white');
        initialActiveTabLink.classList.remove('text-white', 'bg-primary');
      }
    });


document.addEventListener('shown.bs.tab', function (event) {
  if (event.target.id === 'location-area-map-tab') {

    const container = document.getElementById('location-area-map-container');
    const template = document.getElementById('location-area-map-template');

    if (container && template && !container.dataset.loaded) {
      container.innerHTML = template.innerHTML;
      container.dataset.loaded = "true";
    }
  }
});




</script>

{% endblock %}