{% extends "../mainmenu/base.html" %}

{% block head %}
  <title>Timeline</title>
{% endblock %}

{% block content_title %}
Location Timeline
{% endblock %}

{% block content %}
<div id="visualization">
  <script type="text/javascript">
    var container = document.getElementById('visualization');
    var jsonObject = JSON.parse('{{ timeline_json | escapejs }}');
    var items = new vis.DataSet(jsonObject);
    var options = {orientation: 'top'};
    var timeline = new vis.Timeline(container, items, options);
  </script>
</div>
{% endblock content %}
