{% extends "../mainmenu/base.html" %}
{% load custom_filters %}

{% block head %}
  <style>
    .row-height {
        min-height: 35px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}
{% block title %}Railway Locations{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-lg-4 col-xl-4">
    <h1 class="text-primary text-center">Railway Locations</h1>
  </div>
  <div class="col-md-8 col-lg-8 col-xl-8">
    <div class="text-left">
      <form method="GET" action="{% url 'locations:locations' %}" enctype="multipart/form-data">
        <p>
          {% csrf_token %} {{ selection_criteria }}
          <input type="submit" class="btn btn-primary" name="submit_input" value="Submit" />
          <input type="hidden" name="letter" value="{{ letter }}"> <!-- Include the letter in the form -->
        </p>
      </form>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  {% for l in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    <li class="nav-item" role="presentation">
      <a class="nav-link {% if l == letter %}active{% endif %}" id="tab-{{ l }}-tab" href="?letter={{ l }}&{% for key, value in request.GET.items %}{% if key != 'letter' and key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}" role="tab" aria-controls="tab-{{ l }}" aria-selected="{% if l == letter %}true{% else %}false{% endif %}">{{ l }}</a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="tab-{{ letter }}" role="tabpanel" aria-labelledby="tab-{{ letter }}-tab">
    {% with queryset.object_list|slice:":12" as first_third %}
    {% with queryset.object_list|slice:"12:24" as second_third %}
    {% with queryset.object_list|slice:"24:" as third_third %}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {% for location in first_third %}
              <div class="row mb-1 d-flex align-items-stretch row-height">
                <div class="col-12 d-flex align-items-left justify-content-left">
                  {% if location.wikiname %}
                  <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a>
                  {% elif location.name %}
                  <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
                  {% else %}
                  <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>

        <div class="col-md-4">
          {% for location in second_third %}
              <div class="row mb-1 d-flex align-items-stretch row-height">
                <div class="col-12 d-flex align-items-left justify-content-left">
                  {% if location.wikiname %}
                  <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a>
                  {% elif location.name %}
                  <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
                  {% else %}
                  <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>

        <div class="col-md-4">
          {% for location in third_third %}
              <div class="row mb-1 d-flex align-items-stretch row-height">
                <div class="col-12 d-flex align-items-left justify-content-left">
                  {% if location.wikiname %}
                  <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a>
                  {% elif location.name %}
                  <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
                  {% else %}
                  <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endwith %}
    {% endwith %}
    {% endwith %}
  </div>
</div>


{% include "mainmenu/pagination_with_letter_tabs.html" with page=queryset letter=letter %}

{% endblock content %}