{% extends "../mainmenu/base.html" %}
{% load custom_filters %}

{% block head %}
  <style>
    .row-height {
        min-height: 35px; /* Adjust the height as needed */
    }

    /* Add some separation around the tabs */
    .nav-tabs .nav-item .nav-link {
      margin-right: 2px;
    }
  </style>

{% endblock %}
{% block title %}Railway Locations{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4">
      <h1 class="text-primary text-center">Railway Locations</h1>
    </div>

    <div class="col-md-8 col-lg-8 col-xl-8">
      <div class="text-left">
        <form method="POST" action="" enctype="multipart/form-data" class="mx-auto">
          {% csrf_token %}
          <p> {{ selection_criteria }}
            <input type="submit" class="btn btn-primary" name="submit_input" value="Submit" />
          </p>
        </form>
      </div>
    </div>
  </div>

  {% if not queryset.object_list %}
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">No Locations Found for those Search Criteria</div>
    </div>
  {% else %}
    <div class="tab-content" id="myTabContent">
      <div class="row mt-3">
        <div class="col-md-12 col-lg-12 col-xl-12">

          {% with queryset.object_list|slice:":10" as first_third %}
          {% with queryset.object_list|slice:"10:20" as second_third %}
          {% with queryset.object_list|slice:"20:" as third_third %}
          <div class="container">
            <div class="row">

              <div class="col-md-4">
                  {% for location in first_third %}
                      <div class="row mb-1 d-flex align-items-stretch row-height">
                        <div class="col-12 d-flex align-items-left justify-content-left">
                          {% if location.name %}
                          <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
                          {% elif location.wikiname %}
                          <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a>
                          {% else %}
                          <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
                          {% endif %}
                        </div>
                      </div>
                  {% endfor %}

              </div>

              <div class="col-md-4">
                {% for location in second_third %}
                    <div class="row mb-1 d-flex align-items-stretch row-height">
                      <div class="col-12 d-flex align-items-left justify-content-left">
                        {% if location.name %}
                        <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
                        {% elif location.wikiname %}
                        <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a>
                        {% else %}
                        <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
                        {% endif %}
                      </div>
                    </div>
                {% endfor %}
              </div>

              <div class="col-md-4">
                {% for location in third_third %}
                    <div class="row mb-1 d-flex align-items-stretch row-height">
                      <div class="col-12 d-flex align-items-left justify-content-left">
                        {% if location.name %}
                        <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
                        {% elif location.wikiname %}
                        <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a>
                        {% else %}
                        <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
                        {% endif %}
                      </div>
                    </div>
                {% endfor %}
              </div>

            </div>
          </div>
          {% endwith %}
          {% endwith %}
          {% endwith %}
        </div>
      </div>       
    </div>
  {% endif %}
</div>

{% include "mainmenu/pagination.html" with page=queryset %}
  
{% endblock content %}