{% extends "../mainmenu/base.html" %}
{% block head %}
  <style>
    .row-height {
        min-height: 35px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}
{% block content_title %}Railway Locations{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

<form method="POST" action="{% url 'locations:locations' %}" enctype="multipart/form-data">
  <p>
    {% csrf_token %} {{ selection_criteria }}
    <input type="submit" name="submit_input" value="Submit" />
  </p>
</form>

<div class="container">
  <div class="row mb-1">
    <div class="col-1 d-flex align-items-center justify-content-center" style="font-weight: bold;">Wikipedia<br>Link</div>
    <div class="col-1 d-flex align-items-center justify-content-center" style="font-weight: bold;">Disused<br>Stations<br>link</div>
    <div class="col-1 d-flex align-items-center justify-content-center" style="font-weight: bold;">Real<br>Time<br>Trains</div>        
    <div class="col-9 d-flex align-items-center" style="font-weight: bold;">Location Name</div>
  </div>
</div>

{% for location in queryset %}
  <div class="container">
    <div class="row mb-1 d-flex align-items-stretch row-height">
      <div class="col-1 d-flex align-items-center justify-content-center">
        {% if location.wikislug %}
        <a href="https://en.wikipedia.org//wiki/{{location.wikislug}}" class="btn btn-primary"><i class="fa fa-wikipedia-w"></i></a>
        {% else %}
        -
        {% endif %}
      </div>
      
      <div class="col-1 d-flex align-items-center justify-content-center">
        {% if location.disused_stations_slug %}
        <a href="http://disused-stations.org.uk/{{location.disused_stations_slug}}" class="btn btn-primary">DS</a>
        {% else %}
        -
        {% endif %}
      </div>
      
      <div class="col-1 d-flex align-items-center justify-content-center">
        {% if location.atcocode %}
        <a href="{% url 'rtt:location' location.crscode %}" class="btn btn-primary">RTT</a>
        {% else %}
        -
        {% endif %}
      </div>
      
      <div class="col-9">
        {% if location.wikiname %}
        <a href="{% url 'locations:location' location.id %}">{{location.wikiname}}</a
        >{% endif %}
      
        {% if not location.wikiname and location.name %}
        <a href="{% url 'locations:location' location.id %}">{{location.name}}</a>
        {% endif %}
        
        {% if not location.wikiname and not location.name %}
        <a href="{% url 'locations:location' location.id %}">OpenStreetMaps node {{location.osm_node}}</a>
        {% endif %}
      </div>
    </div>
  </div>

{% empty %}
  <h2>No locations found.</h2>
{% endfor %} 

{% include "mainmenu/pagination.html" with page=queryset %} 

{%endblock content %}
