{% extends "../mainmenu/base.html" %}

{% block head %}
  {% load custom_filters %}

  <style>
    .row-height {
        min-height: 36px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}

{% block title %}Railway Routes{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">
          Railway Routes             
          </h1>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="text-left">
          <form method="POST" action="" enctype="multipart/form-data" class="mx-auto">
            {% csrf_token %}
            <table class="mx-auto">{{ selection_criteria }}</table>
            <button type="submit" class="btn btn-primary"  name="action" value="list">List Only</button>
            <button type="submit" class="btn btn-primary"  name="action" value="map">List + Map</button>
          </form>
        </div>
      </div>
    </div>

    {% if not queryset %}
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">No Routes Found for those Search Criteria</div>
    </div>
    {% else %}

  
    <div class="row">
      {% if map %}
        <div class="col-md-5 col-lg-5 col-xl-5"> <!-- Content Column -->
      {% else %}
        <div class="col-md-12 col-lg-12 col-xl-12"> <!-- Content Column -->
      {% endif %}
  
      <div class="container">
        <div class="row">
          {% render_slice queryset 0 10 %}
          {% render_slice queryset 10 20 %}
          {% render_slice queryset 20 None %}
        </div>
      </div>
  
        {% include "mainmenu/pagination.html" with page=queryset %}
      </div> <!-- End of Content Column -->

      {% if map %}
        <div class="col-md-7 col-lg-7 col-xl-7"> <!-- Map Column -->
          <div id="map">{{map|safe}}</div>          
          <script>{{map.script.render|safe}}</script>
        </div>
      {% endif %}

    </div> <!-- End of Row -->
    {% endif %}
  </div><!-- End of Container -->

{% endblock content %}