{% extends "../mainmenu/base.html" %}

{% block header %}

{{map.header.render|safe}}
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
<link href="https://en.wikipedia.org/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022" rel="stylesheet">
<style type="text/css">
  #visualization {
    border: 5px solid rgb(52, 14, 241);
  }
  .vis-item {
    border-color: rgb(38, 13, 113);
    background-color: rgb(99, 151, 230);
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
  }

  figcaption {display: table-caption; caption-side: bottom; line-height: 1.4em; word-break: break-word; text-align: left; padding: 0px 10px 10px; border-width: 0px 1px 1px; border-image: initial; font-size: 12.376px; border-color: initial #c8ccd1 #c8ccd1 #c8ccd1; border-style: initial solid solid solid}

</style>

{% endblock header %}

{% block content_title %}
  <p> 
    {{route_section}}
    {% if route_section.route_fk %}
      on the {{route_section.route_fk.name}} route
    {% endif %}
  </p>

  <p>
    {% if route_section.date_opened %}
      Opened:- {{route_section.date_opened}}
    {% endif %} 
    
    {% if route_section.date_closed %}
      Closed:- {{route_section.date_closed}}
    {% endif %}
  </p>  
{% endblock %}

{% block content %}

  {% if map.html %}
    {{map.html.render|safe}}
  {% endif %}
  <div>

  <script>{{map.script.render|safe}}</script>
 
{% endblock %}