{% extends "../mainmenu/base.html" %}

{% block head %}
  <style>
    .row-height {
        min-height: 38px; /* Adjust the height as needed */
    }
  </style>
{% endblock %}

{% block title %}Route Sections{% endblock %}

{% block header %}
  {{map.header.render|safe}}
{% endblock header %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">
          Route Sections            
          </h1>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="text-left"> <!-- Added text-center class -->
          <form method='POST' action="" enctype="multipart/form-data">
            <p>
            {% csrf_token %}
            {{ selection_criteria }}
            <input type="submit" class="btn btn-primary" name="submit_input" value="Submit">
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for route_section in queryset %}
    <div class="container">
      <div class="row mb-1 d-flex align-items-stretch row-height">
        <div class="col-10 ">
            <div><a href="{% url 'locations:route_section' route_section.id %}">{{route_section.name}}</a></div>
        </div>
      </div>
    </div>
 
  {% empty %}
    <h2>No route sections found.</h2>
  {% endfor %}

  {% include "mainmenu/pagination.html" with page=queryset %} 

  <script>{{map.script.render|safe}}</script> 
{% endblock content %}