{% extends "../mainmenu/base.html" %}

{% block head %}

  <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css">
  
  <link rel="stylesheet" type="text/css" href="https://en.wikipedia.org/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022">

  <!-- Timeline Overrides -->
  <style type="text/css">
    #visualization {
      border: 5px solid rgb(52, 14, 241);
    }
    .vis-item {
      border-color: rgb(38, 13, 113);
      background-color: rgb(99, 151, 230);
      font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    }

    /* Add some separation around the tabs */
    .nav-tabs .nav-item .nav-link {
      margin-right: 2px;
    }

  </style>

{% endblock head %}

{% block content %}

  <h1 class="text-primary text-center mt-3">{{ route }}</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          {% if route.post_fk %}
            <li class="nav-item">
              <a class="nav-link {% if route.post_fk %}active text-primary bg-white{% else %}text-white bg-primary{% endif %}" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">History</a>
            </li>
          {% endif %}

          {% if route.wikipedia_slug %}
            <li class="nav-item">
              <a class="nav-link {% if not route.post_fk %}active text-primary bg-white{% else %}text-white bg-primary{% endif %}" id="wikipedia-tab" data-bs-toggle="tab" href="#wikipedia" role="tab" aria-controls="wikipedia" aria-selected="false">Wikipedia</a>
            </li>
          {% endif %}
          
          {% if route.wikipedia_routemaps %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" href="{% url 'locations:route_storymap' route.slug %}">Route Description</a>
            </li>
          {% endif %}

          {% if timeline_json %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="timeline-tab" data-bs-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">Timeline</a>
            </li>
          {% endif %}
          
          {% if references %}
            <li class="nav-item">
              <a class="nav-link text-white bg-primary" id="references-tab" data-bs-toggle="tab" href="#references" role="tab" aria-controls="references" aria-selected="false">References</a>
            </li>
          {% endif %}

          {% if route.wikipedia_routemaps or elrs %}
            <li class="nav-item text-white">
              <a class="nav-link text-white bg-primary" href="{% url 'locations:route_map' route.slug %}">Maps</a>
            </li>
          {% endif %}
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">

          {% if route.post_fk.body %}
            <div class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="notes-tab">
              {% autoescape off %}
                {{route.post_fk.body}}
              {% endautoescape %}
            </div>
          {% endif %}

          {% if route.wikipedia_slug %}
            <div class="tab-pane fade {% if not route.post_fk %}show active{% endif %}" id="wikipedia" role="tabpanel" aria-labelledby="wikipedia-tab">
              <iframe src='https://en.wikipedia.org/wiki/{{route.wikipedia_slug}}' id="NLSiframe" width="100%" height="700" marginwidth="300">
                <p>Your browser does not support iframes - open map using 'Open Popup' on left</p>
              </iframe>
            </div>
          {% endif %}

          {% if timeline_json %}
            <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
              <div id="visualization">
                <script type="text/javascript">
                  var container = document.getElementById('visualization');
                  var jsonObject = JSON.parse('{{ timeline_json | safe | escapejs }}');
                  var items = new vis.DataSet(jsonObject);
                  console.log(jsonObject);
                  var options = {orientation: 'top', type: 'point'};
                  var timeline = new vis.Timeline(container, items, options);
                </script>
              </div>
            </div>
          {% endif %}

          {% if references %}
            <div class="tab-pane fade" id="references" role="tabpanel" aria-labelledby="references-tab">
              <ul>
                {% for reference in references %}
                  <li>{{reference.full_reference}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if route.wikipedia_routemaps or elrs %}
            <div class="tab-pane fade" id="maps" role="tabpanel" aria-labelledby="maps-tab">
              <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                      {% if map %}
                        {{map|safe}}
                      <script script>{{map.script.render|safe}}</script>
                      {% else %}
                        <h4>No map available for this route</h4>
                      {% endif %}
                    </div>
                </div>
            
                {% if elrs %}
                  <h2>Engineering Line References covered by this route:-</h2>
                  {% for elr in elrs %}
                    <h4>{{elr.itemAltLabel}} {{elr.itemLabel}}</h4>
                  {% endfor %}
                {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var tabLinks = document.querySelectorAll('a[data-bs-toggle="tab"]');

    tabLinks.forEach(function(link) {
      link.addEventListener('shown.bs.tab', function(event) {
        // Remove active classes from all tab links
        tabLinks.forEach(function(link) {
          link.classList.remove('text-primary', 'bg-white');
          link.classList.add('text-white', 'bg-primary');
        });

        // Add active classes to the newly activated tab link
        event.target.classList.add('text-primary', 'bg-white');
        event.target.classList.remove('text-white', 'bg-primary');
      });
    });

    // Highlight the initially active tab link
    var initialActiveTabLink = document.querySelector('.nav-link.active');
    if (initialActiveTabLink) {
      initialActiveTabLink.classList.add('text-primary', 'bg-white');
      initialActiveTabLink.classList.remove('text-white', 'bg-primary');
    }
  });
</script>

{% endblock %}