<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}TPAM{% endblock title %}</title>
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

    {% block head %}{% endblock %}
  </head>
  
  <body>  

    <header class="navbar navbar-expand-lg navbar-dark bg-primary flex-md-nowrap p-0 shadow">

      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'mainmenu:index' %}">TPAM Home</a>

      <div class="container">
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <!-- Search facility if required
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      -->

        <div class="d-flex ms-auto navbar-nav">    
          {% if user.is_authenticated %}
            <div class="nav-item text-nowrap">  
              <a class="nav-link px-3">Hello {{ user.username }}</a>
            </div>
            <div class="nav-item text-nowrap"> 
              <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </div>
          {% else %}
            <div class="nav-item text-nowrap"> 
              <a class="nav-link ms-auto px-3" href="{% url 'users:register' %}">Register</a>
            </div>
            <div class="nav-item text-nowrap"> 
              <a class="nav-link px-3" href="{% url 'users:login' %}">Login</a>
            </div>
          {% endif %}
        </div>

      </div><!-- Container -->
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
       
            <div class="nav-item dropdown"> <!--Trains-->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>T</b>rains</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link" href="{% url 'locos:images' %}">Photos</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:loco_classes' %}">Steam Loco Classes</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:persons' %}">Famous Engineers</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:persons_timeline' %}">Famous Engineers Timeline</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:persons_vis_timeline' %}">Famous Engineers vis Timeline</a>

              <a class="dropdown-item nav-link" href="{% url 'locos:builders' %}">Manufacturers</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:companies' %}">Operating Companies</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:storymaps' %}">Historical Storymaps</a>
              <a class="dropdown-item nav-link" href="{% url 'locos:storymap_sightings' %}">Sightings Storymap</a>

              </div>
            </div> <!--Trains-->

            <div class="nav-item dropdown"> <!--Aircraft-->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>P</b>lanes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link" href="{% url 'aircraft:airimages' %}">Photos</a>
              <a class="dropdown-item nav-link" href="{% url 'aircraft:aircraft_classes' %}">Classes</a>
              </div>
            </div> <!--Aircraft-->

            <div class="nav-item dropdown"><!--Vehicle Licensing-->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>A</b>utomobiles</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link" href="{% url 'vehicles:licensed_vehicles_list' %}">Database of UK Licensed Vehicles</a>
              <a class="dropdown-item nav-link" href="{% url 'vehicles:most_popular_models_list' %}">UK Most Popular Models</a>
              <a class="dropdown-item nav-link" href="{% url 'vehicles:most_popular_makes' %}">UK Most Popular Makes</a>
              </div>
            </div><!--Vehicle Licensing-->

            <div class="nav-item dropdown"> <!--Military Vehicles-->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>M</b>ilitary Vehicles</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link" href="{% url 'mvs:mvimages' %}">Photos</a>
              <a class="dropdown-item nav-link" href="{% url 'mvs:military_vehicle_classes' %}">Classes</a>
              </div>
            </div> <!--Military Vehicles-->

              <hr>

              <ul class="nav flex-column">
              <li class="nav-item">
              <a class="nav-link" href="{% url 'rtt:getlocations' %}">Live Train Times</a>
              </li>
              </ul>
              <hr>

            <div class="nav-item dropdown"><!--Locations-->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reference and Blog</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" type="button" href="{% url 'maps:heritage_sites' %}">Museums & Heritage Sites </a>
              <a class="dropdown-item nav-link" href="{% url 'maps:visits' %}">Heritage Site Visits</a>
              <a class="dropdown-item nav-link" href="{% url 'maps:topics' %}">Blog Articles</a>
              </div>
            </div> <!--Locations-->
          </div>
        </nav>

        {% block header %}{% endblock %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <section class="py-3 text-center container">
            <div class="row py-lg-3">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-primary">
                {% block content_title %}{% endblock %}             
                </h1>
                <p class="text-primary">
                {% block content_desc %}{% endblock %}               
                </p>
              </div>
            </div>

            {% if messages %}
              {% for message in messages %}

              <div class="alert alert-warning alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">             
                </button>

              </div>
              {% endfor %}
            {% endif %}

          </section>

        {% block content %}
        {% endblock %}

        </main>
      </div>
    </div>


      <script src={% static "jquery-3.6.0.min.js" %}></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- Loading bootstrap stops the navbars from working.
      <script src={% static "\js\bootstrap.min.js" %}></script>-->

  </body>
</html>
