{% extends "../mainmenu/base.html" %}
{% block header %}{% load django_bootstrap5 %}{% endblock %}
{% load static %}

{% block title %}
  Your Shopping Cart
{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1 class="text-center">Your Shopping Cart</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
          <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            {% with product=item.product %}
              <tr>
                <td>
                  <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" style="max-width: 150px; height: auto;">
                  </a>
                </td>
                <td class="align-middle">{{ product.image_name }}</td>
                <td class="align-middle">
                  <div class="d-flex align-items-center gap-2">
                    
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="d-inline">
                      {{ item.update_quantity_form.quantity }}
                      {{ item.update_quantity_form.override }}
                      {% csrf_token %}
                      {% bootstrap_button "Update" button_type="submit" button_class="btn btn-primary" %}
                    </form>
              
                    <form action="{% url 'cart:cart_remove' product.id %}" method="post" class="d-inline">
                      {% csrf_token %}
                      {% bootstrap_button "Remove" button_type="submit" button_class="btn btn-danger" %}
                    </form>
                  </div>
                </td>
                <td class="align-middle">£{{ item.price|floatformat:2 }}</td>
                <td class="align-middle">£{{ item.total_price|floatformat:2 }}</td>
              </tr>
            {% endwith %}
          {% endfor %}
          <tr class="table-info bg-primary">
            <td class="fw-bold">Total</td>
            <td colspan="3"></td>
            <td class="fw-bold">£{{ cart.get_total_price|floatformat:2 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center mt-3">
      <a href="{% url 'locos:photos' %}" class="btn btn-secondary">Continue Shopping</a>
      <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
    </div>
  </div>
{% endblock %}

