[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
boto3 = "*"
crispy-bootstrap5 = "*"
Django = "*"
dj-database-url = "*"
dj-static = "*"
django-bootstrap5 = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-smart-selects = "*"
django-storages = "*"
djangorestframework = "*"
django-tinymce = "*"
folium = "*"
fuzzywuzzy = "*"
gunicorn = "*"
Markdown = "*"
numpy = "*"
osm2geojson = "*"
pandas = "*"
psycopg2 = "*"
requests = "*"
Shapely = "*"
sorl-thumbnail = "*"
static = "*"
static3 = "*"
SQLAlchemy = "*"
Wikipedia_API = "*"

[dev-packages]

[requires]
python_version = "3.9"
