[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==\"*"
crispy-bootstrap5 = "==\"*"
dj-database-url = "==\"*"
dj-static = "==\"*"
django-bootstrap5 = "==\"*"
django-configurations = "==\"*"
django-debug-toolbar = "==\"*"
django-smart-selects = "==\"*"
django-storages = "==\"*"
djangorestframework = "==\"*"
django-bootstrap3 = "==\"*"
django-crispy-forms = "==\"*"
django-extensions = "==\"*"
django-tinymce = "==\"3.3.0"
folium = "==\"*"
fuzzywuzzy = "==\"*"
geopandas = "==\"*"
gunicorn = "==\"*"
mysql-connector-repackaged = "==\"*"
numpy = "==\"*"
pandas = "==\"*"
psycopg2 = "==\"*"
requests = "==\"2.25.1"
sorl-thumbnail = "==\"*"
Django = "==\"*"
Shapely = "==\"*"

[dev-packages]

[requires]
python_version = "3.9"
