beautifulsoup4==4.11.1
dj_database_url==0.5.0
dj_static==0.0.6
Django==3.2.1
django_debug_toolbar==3.2.2
django_smart_selects==1.5.9
django_storages==1.13.1
djangorestframework==3.14.0
folium==0.0.0
fuzzywuzzy==0.18.0
geopandas==0.9.0
Markdown==3.3.4
numpy==1.20.2
osm2geojson==0.2.2
pandas==1.2.4
psycopg2==2.8.6
requests==2.26.0
Shapely==1.7.1
SQLAlchemy==1.4.13
Wikipedia_API==0.5.4
