beautifulsoup4
dj_database_url
dj_static
Django
django_debug_toolbar
django_smart_selects
django_storages
djangorestframework
folium
fuzzywuzzy
geopandas
Markdown
mysql_connector_repackaged
numpy
pandas
psycopg2
requests
Shapely
SQLAlchemy
Wikipedia_API
