beautifulsoup4 == "*"
crispy-bootstrap5 == "*"
dj_database_url == "*"
dj_static == "*"
Django == "*"
django-bootstrap5 == "*"
django_configurations == "*"
django_debug_toolbar == "*"
django_smart_selects == "*"
django_storages == "*"
djangorestframework == "*"
django-bootstrap3 == "*"
django-crispy-forms == "*"
django-extensions == "*"
django-tinymce == "3.3.0"
folium == "*"
fuzzywuzzy == "*"
geopandas == "*"
gunicorn == "*"
mysql_connector_repackaged == "*"
numpy == "*"
pandas == "*"
psycopg2 == "*"
requests == "2.25.1"
Shapely == "*"
sorl-thumbnail == "*"
