beautifulsoup4
boto3==1.17.109
configurations==0.0.1
dj_database_url==0.5.0
dj_static==0.0.6
Django==3.2.1
django-bootstrap3==21.2
django_bootstrap5==21.3
django_configurations==2.2
django-crispy-forms==1.12.0
django_debug_toolbar==3.2.2
django-extensions==3.1.
django_smart_selects==1.5.9
django_storages==1.12.3
djangorestframework==3.13.1
django-tinymce==3.3.0
dj-database-url==0.5.0
dj-static==0.0.6
folium==0.0.0
fuzzywuzzy==0.18.0
geopandas==0.9.0
gunicorn==20.0.4
mysql_connector_repackaged==0.3.1
numpy==1.20.2
pandas==1.2.4
psycopg2==2.8.6
requests==2.26.0
Shapely==1.7.1
sorl-thumbnail==12.7.0
static==1.1.1
static3==0.7.0