{% extends 'mainmenu/base.html' %}

{% block head %}
{% endblock head %}
{% block content_title %}Railway Routes{% endblock %}
{% block content_desc %}Select a Route to view a StoryMap{% endblock %}
{% block content %}
<h1 class="text-primary text-center">Storymaps</h1>
    {% for storymap in storymaps %}
      <h2><a href="{% url 'storymaps:storymap' storymap.slug %}"> {{ storymap }}</a></h2>
    {% empty %}
      <h2>No storymaps have been loaded yet.</h2>
    {% endfor %}
{% endblock content %}