{% extends "../mainmenu/base.html" %}

{% block content_title %}Aircraft Classes{% endblock %}
{% block content_desc %}Based on <a href="https://en.wikipedia.org/wiki/List_of_aircrafts">https://en.wikipedia.org/wiki/List_of_aircrafts</a>{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id.</th>
      <th scope="col">Name/Wikipedia Page (Where Available)</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for aircraft_class in aircraft_classes %}
    <tr>
        <td>{{ aircraft_class.id }}</td>
        <!--<a href="{% url 'aircraft:aircraft_class' aircraft_class.id %}">{{ aircraft_class.airclass }}</a> -->
        <td><a href="https://en.wikipedia.org/wiki/{{aircraft_class.wikislug}}"> {{ aircraft_class.airclass }}</a></td>
        <td>{{ aircraft_class.description}}</td>
    
    {% empty %}
      <h2>No Aircraft Classes have been added yet.</h2>
    {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock content %}
