{% extends "../mainmenu/base.html" %}
{% block header %}
  <h1>{{ airimage }}</h1>
{% endblock header %}

{% block content %}
     <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <h2><a href="https://en.wikipedia.org/wiki/{{airimage.airclass.wikislug}}">{{ airimage.airclass }}</a> </h2>
        <h2><a href="{{airimage.location.url}}">{{ airimage.location }}</a></h2>
        <!--<h2>Notes: {{ airimage.notes|linebreaks }}</h2>-->
        <h2><img src="{{ airimage.image.url }}" ></h2>
      </div>

      <a href="{% url 'aircraft:edit_airimage' airimage.id %}"  class="btn btn-primary">Edit</a>
    </div> <!-- panel -->
{% endblock content %}