{% extends "../mainmenu/base.html" %}

{% block content_title %}Aircraft{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
    <a  class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'aircraft:airimages' %}">Aircraft Images</a> 
    <a  class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'aircraft:aircraft_classes' %}">Aircraft Classes (from Wikipedia)</a>
    <a  class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:heritage_sites' %}">Museums and Sites</a>
    <a  class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:visits' %}">Visits</a>
  <h2>
    <!--<a href="{% url 'users:register' %}">Register an account</a> to view the archive and add records of your own-->
  </h2>
{% endblock %}