{% extends "mainmenu/base.html" %}

{% block content_title %}Heritage Sites of England
<p class="lead">A web application providing information about UK Heritage Sites based on Heritage England and National Trust Data </p>
{% endblock %}
{% block content_desc %}{% endblock %}
{% block content %}

  <div class="album py-4 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-md-4">
          <h2><a href="{% url 'ukheritage:county_select' %}">Heritage Site Map by County</a></h2>
          <p>View all Grade 1 & II* listed buildings on a map by County or Unitary Authority</p>
          <h2><a href="{% url 'ukheritage:region_select' %}">Heritage Site Map by Region</a></h2>
          <p>View all Grade 1 & II* listed buildings on a map by Region</p>
          <h2><a href="{% url 'ukheritage:listed_buildings_nearby' %}">Listed Buildings Nearby a Location</a></h2>
          <p>A version of a webpage showing listed buildings in Covent Garden, London</p>
          <!--<p>Based on course <a href="https://subscription.packtpub.com/video/web-development/9781801816199">Django with JavaScript and Ajax</a> by Packt Publishing, Lukasz Makinia</p>-->
          <h2><a href="{% url 'ukheritage:listed_buildings_select' %}">Heritage Site Map by Location, Grade, Name</a></h2>
          <p>View all listed buildings on a map or in a table after selecting by Name, Grade, Co-ordinates or Location</p>
        </div>
      </div><!--row-->
    </div><!--container-->
  </div><!--album-->
  
{% endblock %}