{% extends "../mainmenu/base.html" %}

{% block title %}Railway People{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">
          People             
          </h1>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="text-left">
          <form method='POST' action="" enctype="multipart/form-data">
            <p>
            {% csrf_token %}
            <table>{{ selection_criteria }}</table>
            <input type="submit" class="btn btn-primary" name="submit_input" value="Submit">
            </p>
          </form>
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Wikipedia<br>Link</th>
          <th scope="col">Grace's<br>Guide<br>Link</th>
          <th scope="col">Name</th>
          <th scope="col">Born</th>
          <th scope="col">Died</th>
          {% comment %}<th scope="col">References</th>{% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for person in queryset %}
        <tr>
            <td>
            {% if person.wikitextslug %}
              <a href="https://en.wikipedia.org//wiki/{{person.wikitextslug}}" class="btn btn-primary"><i class="fa fa-wikipedia-w"></i
              ></a>
            {% else %}
            N/A
            {% endif %}
            </td>
            <td>
              {% if person.gracetextslug %}
              <a href="https://gracesguide.co.uk/{{person.gracetextslug}}" class="btn btn-primary">G</i
              ></a>
              {% endif %}     
            </td>
            <td><div><a href="{% url 'people:person' person.slug %}">{{ person.name }}</a></div></td>
            <td>{{ person.birthdate}}</td>
            <td>{{ person.dieddate }}</td>
            {% comment %}
            <td>
                {% for reference in person.references.all %}
                <li>{{ reference }}</li>
                {% endfor %}
            </td>
            {% endcomment %} 
        
        {% empty %}
          <h2>No Records Found.</h2>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

{% include "mainmenu/pagination.html" with page=people %}
{% endblock content %}