{% extends "../mainmenu/base.html" %}

{% block content_title %}{{ person }}{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <small>
        <a href="{% url 'people:edit_person' person.id %}">
          Edit</a>
      </small>
    </div>
    <div class="panel-body">
      <ul>
      <li>{{ person.wikislug }}</li>
      <li>{{ person.url }}</li>
      <li>{{ person.notes|linebreaks }}<li/>
      </ul>
    </div>
  </div> <!-- panel -->
{% endblock content %}