{% extends "../mainmenu/base.html" %}

{% block content %}

  <div class="container-fluid"></div>

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">Bluebell Archive Photos Collection</h1>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4">
        <div class="text-left">
          <form method='POST' action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ selection_criteria }}
            <input type="submit" class="btn btn-primary" name="submit_input" value="Submit">
          </form>
        </div>
      </div>
    </div>

    <div class="album py-4 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for instance in queryset  %}
            <div class="col">
              <div class="card text-center shadow-sm">  
                
                  <a style="display: block;padding-bottom: 100%;position: relative;", href="{% url 'notes:brmphoto' instance.id %}?src={{ instance.image_src }}">
                  <img style="max-width: 100%;
                  max-height: 100%;
                  position: absolute;
                  left: 0; right: 0; top: 0; bottom: 0;
                  margin: auto;" src='{{instance.image_src}}' alt=""></a>

                <div class="card-body">
                  <p class="card-text">{{instance.reference_number}}</p>
                  <p class="card-text">{{instance.lococlass}}</p>
                  <p class="card-text">{{instance.number}}</p>
                  <p class="card-text">{{instance.location}}</p>
                </div>

              </div>
            </div><!--col-->
          {% endfor %}
        </div><!--row-->
      </div><!--container-->
    </div><!--album-->
  </div><!-- container fluid-->

  {% include "mainmenu/pagination.html" with page=queryset %}

{% endblock content %}