{% extends "../mainmenu/base.html" %}

{% block header %}
  <div class="container-fluid">
    <h1 class="text-primary text-center">{{ plan.archivenumber}} {{plan.description}}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="card text-center text-primary">

    <img class="card-img-top mx-auto" style="max-width:60%" src="{{ plan.image.url }}" alt="">
    <div class="card-body">
        <p class="card-text">{{plan.archivenumber}}</p>
        <p class="card-text">{{plan.location}}</p>
        <p class="card-text">{{plan.description}}</p>
        <p class="card-text">{{plan.tube}}</p>
    </div>

  </div> <!-- card -->
{% endblock content %}