<html lang="en"><head>
    
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat" >  
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="https://www.bluebell-railway-museum.co.uk/css/additionalA.css">

	<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<meta name="description" content=" While you are at the Bluebell Railway, look out for our enamel signs, some making outrageous claims! ">  
	<meta name="keywords" content="">

<!-- <title>Heritage Steam | Railway  | Museum | Family Days Out | </title> -->
<title>  Railway  | Historic | Advertisements  | Enamel  | Signs    </title>

</head>
	<body>
		<div class="container logoBgr baseFont">
			<!-- menu here -->

			<div class="row">
				<div class="col-sm heroFontColour botpad3 toppad3 text-center heroBgr baseFontSize">
					<h1><b>It pays to advertise</b></h1>
					<p>Enamel advertising signs</p>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm toppad3 XbaseFont">
					<div>
						<h5 class="black">While you are at the Bluebell Railway, look out for our enamel signs, some making outrageous claims!</h5>
					</div>
				</div>	
			</div>
			
			<div>
				<div class="row">
					<!--ROW 1 WITH 3 COLUMN-->
					<div class="col-sm-5 paddingTop baseFont">
						<img src="https://www.bluebell-railway-museum.co.uk/services_files/adverts1-1.jpg" class="img-fluid border-0" alt="Faulkner's Mountaineer Tobacco+Sunlight Soap+Virol enamel advertising boards">
					</div>
					<div class="col-sm-7 paddingTop baseFont">
						<h5>W&F. Faulkner was a tobacco company based in Blackfriars Road London between 1895 and 1965, becoming a branch of the Imperial Tobacco Company around 1901.  During its life it sold around 50 different brands of tobacco of which this one, <b>Mountaineer</b>, was marketed around 1920 to 1946. By 1946 Mountaineer was costing the princely sum of ten and a half shillings (50p in today's money) for four ounces (110g).</h5>
						<h5><b>Sunlight soap</b> was introduced by the British company Lever Brothers in 1884. It was the world's first packaged, branded laundry soap. It was so successful that Port Sunlight, the company's worker's village, was named after it. Once laundry soap was superseded by modern detergents Sunlight was repositioned in the UK as a washing-up liquid though in some countries, such as Belgium and the Netherlands, it is still sold as a personal soap by the current company Unilever. The '£1000 Guarantee of Purity' which was printed on every box of soap was for anyone who could prove the soap had any 'harmful adulterant'. As far as we can tell the company never paid out a claim against the guarantee.</h5>
						<h5><b>Virol</b> was a brand of malt extract preparation that also included beef bone marrow, fat, eggs and lemon syrup. It was said to be rich in nutrients as the manufacturing process did not destroy the vitamin content. First made as an experimental product in 1899 by Bovril, it became popular and continued to be sold all the way up until the 1980s. As well as "Anaemic girls need it", which features in a poem by Sir John Betjeman,  other advertising slogans included "Growing boys need it", "School children need it", "Delicate children need it" and the more generic "For health and vitality". Some children who grew up in the 1940s remember the weekly visit of the Virol Lady to their primary school, giving out spoonfuls of the sweet, sticky brown product to each child who had brought a penny to school for the purpose.</h5>
					</div>

				<div class="row">
					<div class="col-sm-5 paddingTop baseFont">
						<img src="https://www.bluebell-railway-museum.co.uk/services_files/adverts1-2.jpg" class="img-fluid border-0" alt="Swan Vestas+PatACake enamel advertising boards">
					</div>
					<div class="col-sm-7 paddingTop baseFont">
						<h5>The Swan brand for matches was created in 1883 becoming  <b>Swan Vestas</b> in 1906 when the company Brand and May took to enthusiastically promoting the brand.  By the 1930s Swan Vestas had become 'Britain's best selling match'. The matches are still sold today being produced by the Swedish Match company, though the tagline of "Smoker's Match" has been replaced by "The Original". The cost of a box of 100 Swan Vestas increased from 1 to 3 old pennies between 1883 and 1940 largely due to taxes, whereas today they cost around 40p (96 old pennies).</p>
						<h5>The company Peek Frean was an early pioneer of the British biscuit creating the Bourbon, Custard Cream, Marie and Garibaldi varieties. The shortbread-based <b>Pat-A-Cake</b> biscuit was launched in 1902. Invented by the manager George Roberts, it was the first mass-produced biscuit to move away from plain thin arrowroot type products. It was to prove a major success for the company as the first biscuit marketed at an affordable price. Peak Frean claim that Pat-A-Cake was the most popular biscuit ever sold. By 1920 75 tons or 10 million biscuits could be produced in a single day.</h5>
					</div>					
				</div>

				<div class="row">
					<!--ROW 2 WITH 1 COLUMN-->
					<div class="col-sm-5 paddingTop baseFont">
						<img src="https://www.bluebell-railway-museum.co.uk/services_files/adverts2-1.jpg" class="img-fluid" alt="Volvolutum Soap enamel advertising sign - Bluebell Railway Museum">
					</div>
					<div class="col-sm-7 paddingTop baseFont">
						<h5><b>Volvolutum</b> was a renowned brand of soap in the early 1900s made at the candle factory of W.G.Smith in Kingston-upon-Thames. It claimed that 'No Rubbing, No Soaking' was required to clean clothes when using the soap.</h5>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>