{% extends "../mainmenu/base.html" %}

{% block content_title %}Notes and Timelines{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

<div class="bd-example">
    <ul class="list-group">
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:topics' %}">Blog Articles</a>
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:enamel_signs' %}">Temporary:Enamel Signs Article</a>
        {% comment %}
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:trackmap' %}">Track Diagrams</a>
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:county_select' %}">Closed Lines Map</a>
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:location_timeline' %}">Location Timeline</a>
        {% endcomment %}
    </ul>
</div>

{% endblock %}