{% extends "../mainmenu/base.html" %}

{% block content_title %}Research Articles and Timelines{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

    <div class="bd-example">
        <ul class="list-group">      
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:post_list' %}">Notes</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:references' %}">References</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'storymaps:timelines' %}">StoryTimelines</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'storymaps:storymaps' %}">Storymaps</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'storymaps:carousels' %}">Storyboards</a>
            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'notes:timeline' %}">Railway Timeline</a>
        </ul>
    </div>

{% endblock %}