{% extends '../mainmenu/base.html' %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>{{ post.title }}</h2>
      <cite>{{ post.publish|date:'M d, Y H:i' }}</cite>
    </div>

    <class="panel-body">
      {% autoescape off %}
      <div>{{ post.body }}</div>
    
      {% if references %}
        <h3>References</h3>
        {% for reference in references %}
            <li>{{reference.full_reference}}</li>         
        {% empty %}
        {% endfor %}
      {% endif %}
      {% endautoescape %}

    </div> <!-- panel body -->
  <div>
{% endblock content%}