{% extends "../mainmenu/base.html" %}

{% block content_title %} {{ topic.text }} Notes {% endblock %}

{% block content_desc %}
  <!-- <span style="float: center;">
    {% if topic.owner == user %}
      <a href="{% url 'notes:topic_update' topic.id %}">Update Topic - </a>
      <a href="{% url 'notes:topic_delete' topic.id %}">Delete Topic - </a>
      <a href="{% url 'notes:topics' %}">All topics</a>
    {% endif %}
    </span> -->
{% endblock content_desc %}

{% block content %}
  <!--- For future search feature https://www.w3schools.com/howto/howto_css_search_button.asp-->
  <!-- <a href="{% url 'notes:post_create' topic.id %}">Add new post</a> -->
  <div style="float:center">
    <form>
      <input type="text" placeholder="Search.." name="search"
        {% if search %} 
          value="{{ search }}" 
        {% endif %}>
      <button type="submit"><i class="fa fa-search"></i></button>
      <a href="{% url 'notes:topic_detail' topic.id %}"><i class="fa fa-undo"></i></a>
    </form>
  </div>
  
  {% for post in posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><a href="{% url 'notes:post_detail' post.id %}">{{ post.title }}</a></h2>
        <cite>{{ post.publish|date:'M d, Y H:i' }}</cite>
      </div> <!-- panel-heading -->

      <div class="panel-body">
        <!-- {% autoescape off %}
        <div>{{ post.body }}</div>
        {% endautoescape %}
        {% if post.url %}
          <cite>For more information see:- <a href="{{ post.url }}">{{post.url}}</a></cite>
        {% endif %} -->
      </div> <!-- panel body -->
    </div> <!-- panel -->
    
  {% empty %}
    There are no posts for this topic yet.
  {% endfor %}

{% endblock content %}