{% extends "../mainmenu/base.html" %}

{% block content_title %}Topics{% endblock %}
{% block content_desc %}Where a Research article is based on a Wikipedia article, amendments are highlighted in yellow{% endblock %}

{% block content %}

{% if topic_list %}

  {% for topic in topic_list %}
    <h2>
        {% autoescape off %}
        <a href="{% url 'notes:topic_detail' topic.id %}">{{ topic.text }}</a>
        {% endautoescape %}
    </h2>
  {% endfor %}

{% else %}
  <p>There are no topics in the database.</p>
{% endif %}

{% endblock %}