{% extends "mainmenu/base.html" %}
{% load static %}

{% block title %}
  Your Slide Selections
{% endblock %}

{% block content %}
  <h1>Your Slide Selections</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Slide</th>
        <th>No.</th>
      </tr>
    </thead>
    <tbody>

      {% for item in cart %}
        {% with slide=item.slide %}
          <tr>
            <td>{{ slide.text_headline }}</td>
            <td>
              <form action="{% url 'locos:cart_add' slide.id %}" method="post">
                {{ item.update_slide_order_form.slide_order }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url 'locos:cart_remove' slide.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
              
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'locos:slides' %}" class="button
    light">Continue selecting</a>

    <!--
    <a href="% url "locos:slidepack_create" %" class="button"> INSERT THE BRACKETS TO USE THIS
      Checkout
    </a>
  </p>-->
{% endblock %}