{% extends "../mainmenu/base.html" %}

{% block content_title %}Engineers{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
  <p>
    <a href="{% url 'locos:new_engineer'%}">Add new engineer</a>
  </p>

  <ul>
    {% for engineer in engineers %}
      <li>
        <h3>
          <a href="{% url 'locos:engineer' engineer.id %}"> {{ engineer }}</a> 
           - 
          <a href="https://en.wikipedia.org/wiki/{{engineer.wikislug}}"  class="btn btn-primary">Wikipedia</a> 
        </h3>
              </li>
    {% empty %}
      <li>No engineers have been added yet.</li>
    {% endfor %}
  </ul>

{% endblock content %}