{% extends "locos/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h1>Images</h1>
{% endblock %}

{% block content %}
  <p>
    <a href="{% url 'locos:new_image'%}" class="btn btn-primary" >Add a New Image</a>
  </p>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for image in images %}
    <tr>
      <td>{% load thumbnail %}
            {% thumbnail image.image "100" as im %}
              <a href="{% url 'locos:image' image.id %}">
                <img src="{{ im.url }}" class="image-detail">
              </a>
          {% endthumbnail %}</td>
        <td><a href="{% url 'locos:image' image.id %}">{{image.image_name}}</a></td>
      <td>{{image.location}}</td>
      <td>{{image.visit.date}}</td>

      {% empty %}
      <h2>No photos have been added yet.</h2>
      {% endfor %}
    </tr>
  </tbody>
</table>
      {% include "locos/pagination.html" with page=images %}
{% endblock content %}