{% extends "../mainmenu/base.html" %}

{% block content_title %}Railway Heritage{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

  <div class="bd-example">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'locos:images' %}">Photos</a></li>
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'locos:loco_classes' %}">Steam Loco Classes </a></li>
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'maps:heritage_sites' %}">Museums and Sites</a></li>
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'locos:persons' %}">Famous Engineers</a></li>
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'locos:builders' %}">Loco Builders</a></li>
    </ul>
  </div>

  <!--
  {% with total_references_created=request.owner.references_data_added.count %}
    <p>You have bookmarked {{ total_references_created }} image {{ total_references_created|pluralize }}.</p>
  {% endwith %}
  <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Bookmark it</a></p>
  -->
{% endblock %}


    <!--  <p>You can also <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>
   
    <!--<li><a  class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locos:visits' %}">Visits</a></li>
      <a href="{% url 'users:register' %}">Register an account</a> to view the archive and add records of your own-->