{% extends "../mainmenu/base.html" %}

{% block content_title %}{{ locomotive }}{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
  
  <div class="panel panel-default">
    <div class="panel-heading"><small></small></div>
        
    <div class="panel-body">

      <h2>Locomotive Details</h2>

      {% load my_tags %}
      <ul>
      {% for key, val in locomotive|get_fields %}
        {% if val %}
          <li>{{ key }}: {{ val }}</li>
        {% endif %}
      {% endfor %}
      </ul>

      Years Since Built  {{ locomotive.age }}

      {% if lococlass %}
        <h2>Locomotive Class Details</h2>

        <ul>
          {% for key, val in lococlass|get_fields %}
            {% if val %}
              <li>{{ key }}: {{ val }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      <h2>Owners/Operators</h2>
      {% for operator in operators %}
        <li><a href="https://en.wikipedia.org//{{operator.wikislug}}">{{operator.name}}</a></li>
      {% empty %}
        <li>None recorded for this class.</li>
      {% endfor %} 

      <h2>Designer(s)</h2>
      {% for designer in designers %}
        <li><a href="https://en.wikipedia.org/{{designer.wikitextslug}}">{{designer.name}}</a></li>
      {% empty %}
        <li>None recorded for this class.</li>
      {% endfor %}

      <h2>Manufacturer(s)</h2>
      {% for manufacturer in manufacturers %}
        <li><a href="https://en.wikipedia.org/{{manufacturer.wikislug}}">{{manufacturer.name}}</a></li>
      {% empty %}
        <li>None recorded for this class.</li>
      {% endfor %}

      <h2>References</h2>
      {% for reference in references %}
        {% autoescape off %}
        <li>{{reference.full_reference}}</li>
        {% endautoescape %}
      {% empty %}
        <li>None recorded for this locomotive.</li>
      {% endfor %}

    </div> <!-- panel body -->
  </div> <!-- panel -->

{% endblock content %}