{% extends "../mainmenu/base.html" %}

{% block content_title %}{{ loco_class }}{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <small>
        </small>
      </div>

      <div class="panel-body">
        {% if description_type %}
        <h1 class="text-primary">{{description_type}}</h1>
          {% autoescape off %}
          <div>{{ description }}</div>
          {% endautoescape %}
          {% endif %}

<h1 class="text-primary">Class Specification</h1>
      <!-- Template tags https://docs.djangoproject.com/en/2.0/howto/custom-template-tags/ -->
      <!-- Template tags https://stackoverflow.com/questions/2217478/django-templates-loop-through-and-print-all-available-properties-of-an-object -->     
      {% load my_tags %}
      <ul>
      {% for key, val in loco_class|get_fields %}
        {% if val %}
          <li>{{ key }}: {{ val }}</li>
        {% endif %}
      {% endfor %}
      </ul>

    <h1 class="text-primary">Locos in Class</h1>
    {% for locomotive in locomotives %}
      {{locomotive.number_as_built}},
    {% empty %}
      <li>None recorded for this class.</li>
    {% endfor %} 

    <h1 class="text-primary">Owners/Operators</h1>
    {% for operator in operators %}
      <li><a href="https://en.wikipedia.org/wiki/{{operator.wikislug}}">{{operator.name}}</a></li>
    {% empty %}
      <li>None recorded for this class.</li>
    {% endfor %} 

    {% if loco_class.designer_person %}
      <h1 class="text-primary">Designer</h1>
      {% if loco_class.designer_person.wikitextslug %}
      <li><a href="https://en.wikipedia.org//wiki/{{loco_class.designer_person.wikitextslug}}">{{loco_class.designer_person}}</a></li>
      {% else %}
      <li>{{loco_class.designer_person}}</li>
      {% endif %}
    {% endif %}

    <h1 class="text-primary">Manufacturer(s)</h1>
    {% for manufacturer in manufacturers %}
      <li><a href="https://en.wikipedia.org/wiki/{{manufacturer.wikislug}}">{{manufacturer.name}}</a></li>
    {% empty %}
      <li>None recorded for this class.</li>
    {% endfor %}

    <h1 class="text-primary">References</h1>
    {% for reference in references %}
      {% autoescape off %}
      <li>{{reference.full_reference}}</li>
      {% endautoescape %}
    {% empty %}
      <li>None recorded for this class.</li>
    {% endfor %}

    {% comment %}
      <h1 class="text-primary">Images</h1>
      {% for image in images %}
        <img src="{{ image.image.url }}" >
        <p><a href="{% url 'locos:image' image.id %}">{{image.image_name}}</a></p>
      {% empty %}
        <li>None recorded for this class.</li>
      {% endfor %}
    {% endcomment %}

  </div> <!-- panel-body-->
    </div> <!-- panel -->

{% endblock content %}