{% extends "../mainmenu/base.html" %}

{% block head %}
  <style>
    .row-height {
        min-height: 35px; /* Adjust the height as needed */
    }

    /* Add some separation around the tabs */
    .nav-tabs .nav-item .nav-link {
      margin-right: 2px;
    }
  </style>
{% endblock %}

{% block title %}{{ loco_class }}{% endblock %}

{% block content %}
  <!--- Comment for Testing Purposes -->
  <h1 class="text-primary text-center">{{ loco_class }}</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">
  
        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active text-primary bg-white" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Class Details</a>
          </li>

          {% if loco_class.slug %}
          <li class="nav-item">
            <a class="nav-link text-white bg-primary" id="wikipedia-tab" data-bs-toggle="tab" href="#wikipedia" role="tab" aria-controls="wikipedia" aria-selected="false">Wikipedia</a>
          </li>
          {% endif %}

          {% if loco_class.brdslug %}
          <li class="nav-item">
            <a class="nav-link text-white bg-primary" id="brd-tab" href="https://www.brdatabase.info/locoqry.php?action=class&type={{loco_class.power_type|make_list|first}}&id={{ loco_class.brdslug }}" target="_blank" rel="noopener noreferrer" role="tab">BRD</a>
          </li>
          {% endif %}

          {% if loco_class.references %}
          <li class="nav-item">
            <a class="nav-link text-white bg-primary" id="references-tab" data-bs-toggle="tab" href="#references" role="tab" aria-controls="references" aria-selected="false">References</a>
          </li>
          {% endif %}

        </ul>

        <!-- Tab content -->
        <div class="tab-content mt-3" id="myTabContent">

          <div class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="notes-tab">



            {% if loco_class.designer_person %}
              <h2 class="text-primary">Designer</h2>
              {% if loco_class.designer_person.wikitextslug %}
              <li><a href="https://en.wikipedia.org//wiki/{{loco_class.designer_person.wikitextslug}}">{{loco_class.designer_person}}</a></li>
              {% else %}
              <li>{{loco_class.designer_person}}</li>
              {% endif %}
            {% endif %}

            <h2 class="text-primary">Manufacturer(s)</h2>
            {% for manufacturer in manufacturers %}
              <li><a href="https://en.wikipedia.org/wiki/{{manufacturer.wikislug}}">{{manufacturer.name}}</a></li>
            {% empty %}
              <li>None recorded for this class.</li>
            {% endfor %}

            <h2 class="text-primary">Owners/Operators</h2>
            {% for operator in operators %}
              <li><a href="https://en.wikipedia.org/wiki/{{operator.wikislug}}">{{operator.name}}</a></li>
            {% empty %}
              <li>None recorded for this class.</li>
            {% endfor %} 

            <h2 class="text-primary">Locos in Class</h2>
            {% for locomotive in locomotives %}
              {% if locomotive.number_as_built %}
                {{ locomotive.number_as_built }},
              {% endif %}
            {% empty %}
              <li>None recorded for this class.</li>
            {% endfor %}

            {% autoescape off %}
            {% if loco_class.notes %}
              {{ loco_class.notes }}
            {% endif %}
            {% endautoescape %}
            
            {% comment %}
            {% if posts %}
                {% for post in posts %}
                  <h2 class="text-primary">{{ post.title}}</h2>
                  {% autoescape off %}
                  {{ post.body }}
                  {% endautoescape %}
                {% endfor %}
            {% endif %}
            {% endcomment %}

            {% comment %}
              <h2 class="text-primary">Images</h2>
              {% for image in images %}
                <img src="{{ image.image.url }}" >
                <p><a href="{% url 'locos:image' image.id %}">{{image.image_name}}</a></p>
              {% empty %}
                <li>None recorded for this class.</li>
              {% endfor %}
            {% endcomment %}

          </div>

          {% if loco_class.slug %}
            <div class="tab-pane fade" id="wikipedia" role="tabpanel" aria-labelledby="wikipedia-tab">
              <iframe src='https://en.wikipedia.org/wiki/{{loco_class.slug}}' id="Wikiframe" width="100%" height="700" marginwidth="300">
                <p>Your browser does not support iframes - open map using 'Open Popup' on left</p>
              </iframe>
            </div>
          {% endif %}

          {% if loco_class.references %}
            <div class="tab-pane fade" id="references" role="tabpanel" aria-labelledby="references-tab">
              {% for reference in references %}                
                {% if '/ukla/' in reference.url %}
                  <h3><a href="https://www.legislation.gov.uk{{reference.url}}">{{ reference.full_reference }}</a></h3>
                {% elif reference.url %}
                  <h3><a href="{{reference.url}}">{{ reference.full_reference }}</a></h3>
                {% else %}
                  <h3>{{reference.full_reference}}</h3>
                {% endif %}

                {% if reference.description %}
                  {{reference.description}}
                {% endif %}
            {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var tabLinks = document.querySelectorAll('a[data-bs-toggle="tab"]');
  
      tabLinks.forEach(function(link) {
        link.addEventListener('shown.bs.tab', function(event) {
          // Remove active classes from all tab links
          tabLinks.forEach(function(link) {
            link.classList.remove('text-primary', 'bg-white');
            link.classList.add('text-white', 'bg-primary');
          });
  
          // Add active classes to the newly activated tab link
          event.target.classList.add('text-primary', 'bg-white');
          event.target.classList.remove('text-white', 'bg-primary');
        });
      });
  
      // Highlight the initially active tab link
      var initialActiveTabLink = document.querySelector('.nav-link.active');
      if (initialActiveTabLink) {
        initialActiveTabLink.classList.add('text-primary', 'bg-white');
        initialActiveTabLink.classList.remove('text-white', 'bg-primary');
      }
    });
  </script>

{% endblock content %}