{% extends "../mainmenu/base.html" %}
{% block head %}
  <style>

  </style>
{% endblock %}
{% block title %}Locomotives{% endblock %}
{% block content_title %}Locomotives{% endblock %}
{% block content %}

  <div class="container-fluid">

    <div class="row">
      <div class=" col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-primary text-center">Locos</h1>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="text-left"> <!-- Added text-center class -->
          <form method='POST' action="" enctype="multipart/form-data">
            <p>
            {% csrf_token %}
            <div class="single-selection-container">
              {{ selection_criteria }}
              <!-- <input type="submit" class="btn btn-primary" name="submit_input" value="Submit"> -->
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> <!-- Magnifying glass icon -->
              </button>
            </div>

            </p>
          </form>
        </div>
      </div>
    </div>

    {% if not queryset %}
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">No Records Found for those Search Criteria</div>
    </div>
    {% else %}

      <div class="container">
        <div class="row mb-1">
          <div class="col-3 d-flex align-items-left justify-content-left" style="font-weight: bold;">Class</div>
          <div class="col-1 d-flex align-items-left justify-content-left" style="font-weight: bold;">No. As Built</div>
        </div>

      {% for row in queryset %}
        <div class="row mb-1 d-flex align-items-stretch row-height">

          <div class="col-3 d-flex align-items-left justify-content-left">
            {% if row.lococlass %}
              {{row.lococlass}}
            {% endif %}
          </div>

          <div class="col-1 d-flex align-items-center justify-content-center">
            {% if row.number_as_built %}
              <a href="{% url 'locos:locomotive' row.id %}">{{row.number_as_built}}</a>
            {% endif %}
          </div>
        </div>
          
      {% endfor %}
      <br>
      {% include "mainmenu/pagination.html" with page=queryset %}

    {% endif %}
  </div>
{% endblock content %}