{% extends "../mainmenu/base.html" %}

{% block content %}
  {% comment %}
  <p>
    <a href="{% url 'locos:new_photo'%}" class="btn btn-primary" >Add a New Image</a>
  </p>
  {% endcomment %}

  <section class="container text-center py-3 mt-1">
    <div class="row">
      <div class="col-12 mx-auto">
        <h1 class="text-primary">Photo Gallery</h1>                      
      </div>
    </div>
  </section>

  <div class="album py-4 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for photo in queryset  %}
        <div class="col">
          <div class="card text-center shadow-sm">
             <!-- 
            SOLUTION 1:
            height:300px makes portrait and landscape images the same height but distorts when changing screen size 
            image-fluid is responsive to screen-size but height of portrait photos is different as screen size varies
            <a href="{% url 'locos:photo' photo.id %}"><img src="{{ photo.image.url }}" class="image-detail" style="margin: auto; height: 300px;"></a>
            
            SOLUTION 2:
            Images are responsive but portrait images can be taller than landscape
            <a href="{% url 'locos:photo' photo.id %}"><img src="{{ photo.image.url }}" class="image-detail img-fluid" style="margin: auto"></a>


            SOLUTION 3:
            Based on https://stackoverflow.com/questions/27229847/how-to-deal-with-portrait-image-in-bootstrap-image-grid
            -->
            
            <a style="display: block;padding-bottom: 100%;position: relative;", href="{% url 'locos:photo' photo.id %}">
            <img style="max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            margin: auto;" src="{{ photo.image.url }}" alt=""></a>

            <div class="card-body">
              <p class="card-text">{{photo.full_reference}}</p>
            </div>
          </div>
        </div><!--col-->
        {% endfor %}
      </div><!--row-->
    </div><!--container-->
  </div><!--album-->

  {% include "mainmenu/pagination.html" with page=photos %}

{% endblock content %}