{% extends "../mainmenu/base.html" %}

{% block content_title %}Railway Routes{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

    <form method='POST' action="" enctype="multipart/form-data">
      <p>
      {% csrf_token %}
      {{ selection_criteria }}
      <input type="submit" name="submit_input" value="Submit">
      </p>
    </form>
      
    {% for route_list_row in route_list %}
      <h4>
        {{route_list_row.name}}
        <a href="https://en.wikipedia.org//{{route_list_row.wikipedia_slug}}" class="btn btn-primary"><i class="fa fa-wikipedia-w"></i></a>
        <a href="{% url 'locos:routemap' route_list_row.id %}" class="btn btn-primary"><i class="fa fa-solid fa-map"></i></a>
      </h4>
 
    {% empty %}
      <h2>No routes found.</h2>
    {% endfor %}

{% endblock content %}