{% extends "../mainmenu/base.html" %}
{% load bootstrap3 %}

{% block content_title %}Login to your account{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}
    
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
    
    <input type="hidden" name="next" value="{% url 'locos:index' %}" />
  </form>
    
{% endblock content %}