{% extends "../mainmenu/base.html" %}

{% block content_title %}Military Vehicles{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

  <div class="bd-example">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'mvs:photos' %}">Military Vehicle Photo</a></li> 
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'mvs:military_vehicle_classes' %}">Military Vehicles Classes (from Wikipedia)</a></li>
      <li class="list-group-item list-group-item-action list-group-item-primary"><a href="{% url 'mvs:locations' %}">Photo Locations</a></li> 

      {% comment %}
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'locations:visits' %}">Visits</a>
        <a href="#">Register an account</a> to view the archive and add records of your own
      {% endcomment %}
    </ul>
  </div>

{% endblock content %}