{% extends "../mainmenu/base.html" %}

{% block content_title %}Military Vehicle Classes{% endblock %}
{% block content_desc %}Based on <a href="https://en.wikipedia.org/wiki/List_of_military_vehicles">https://en.wikipedia.org/wiki/List_of_military_vehicles</a>{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id.</th>
      <th scope="col">Name/Wikipedia Page (Where Available)</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for military_vehicle_class in military_vehicle_classes %}
    <tr>
        <td>{{ military_vehicle_class.id }}</td>
        <!--<a href="{% url 'mvs:military_vehicle_class' military_vehicle_class.id %}">{{ military_vehicle_class.mvclass }}</a> -->
        <td><a href="https://en.wikipedia.org/wiki/{{military_vehicle_class.wikislug}}"> {{ military_vehicle_class.mvclass }}</a></td>
        <td>{{ military_vehicle_class.description}}</td>
    
    {% empty %}
      <h2>No Military Vehicle Classes have been added yet.</h2>
    {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock content %}
