{% extends "mvs/base.html" %}
{% block header %}
  <h1>{{ mvimage }}</h1>
{% endblock header %}

{% block content %}
     <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <h2><a href="https://en.wikipedia.org/wiki/{{mvimage.mvclass.wikislug}}">{{ mvimage.mvclass }}</a> </h2>
        <h2><a href="{{mvimage.location.url}}">{{ mvimage.location }}</a></h2>
        <!--<h2>Notes: {{ mvimage.notes|linebreaks }}</h2>-->
        <h2><img src="{{ mvimage.image.url }}" ></h2>
      </div>

      <a href="{% url 'mvs:edit_mvimage' mvimage.id %}"  class="btn btn-primary">Edit</a>
    </div> <!-- panel -->
{% endblock content %}