{% extends "../mainmenu/base.html" %}

{% block content_title %}Military Vehicle Photos{% endblock %}
{% block content_desc %}{% endblock %}

{% block content %}

  <div class="album py-4 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for photo in queryset  %}
        <div class="col">
          <div class="card text-center shadow-sm">
           
            <a style="display: block;padding-bottom: 100%;position: relative;", href="{% url 'mvs:photo' photo.id %}">
            <img style="max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            margin: auto;" src="{{ photo.image.url }}" alt=""></a>

            <div class="card-body">
              <p class="card-text"><a href="https://en.wikipedia.org/wiki/{{photo.mvclass.wikislug}}">{{ photo.image_name }}</a><br>
              {{photo.location}}<br>
              {{photo.visit.date}}</p>
            </div>
          </div><!-- card -->
        </div><!--col-->
        {% endfor %}
      </div><!--row-->
    </div><!--container-->
  </div><!--album-->

  {% include "mainmenu/pagination.html" with page=queryset %}

{% endblock content %}