{% extends '../mainmenu/base.html' %}

{% block content %}
<span style="float: right;">
  {% if post.owner == user %}
  <a href="{% url 'maps:post_update' post.id %}"><i class="fa fa-pencil"></i></a>
  <a href="{% url 'maps:post_delete' post.id %}"><i class="fa fa-trash"></i></a>
  {% endif %}
</span>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      {{ post.title }}
      {{ post.publish|date:'M d, Y H:i' }}
    </h3>
  </div>
  <div class="panel-body">
    {{ post.body|linebreaks }}
  </div>
</div> <!-- panel -->
<p>
  <a href="{% url 'maps:topic_detail' topic.id %}">All topics</a>
</p>
{% endblock content%}