{% extends '../mainmenu/base.html' %}

{% block content %}

  <span style="float: right;">
    {% if post.owner == user %}
    <a href="{% url 'maps:post_update' post.id %}"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'maps:post_delete' post.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
  </span>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        {{ post.title }}
        {{ post.publish|date:'M d, Y H:i' }}
      </h3>
    </div>

    <div class="panel-body">
      {% autoescape off %}
      <div>{{ post.body }}</div>
      {% endautoescape %}
      <div><cite>url reference:- {{ post.url }}</cite></div>
    </div> <!-- panel body -->
  <div>
{% endblock content%}