{% extends "maps/base.html" %}

{% block header %}
  <h2>Shareprice tracking using Python Pandas for data manipulation, Matplotlib for plotting and yfinance data to source Yahoo price data</h2>
{% endblock header %}

{% block content %}

  <form method = "post" action = "{% url 'maps:shareprice_chart' %}">
  {% csrf_token %}
  <!--
    <br>
    <select name = "drop1" >
                        <option value="RDSB.L">RDSB.L</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
    </select>
  <input  type = "submit" value="Submit">
  <br>
  -->
  <img src="data:image/png;base64, {{matplotlib_chart|safe}}"/>

  </form>

{% endblock %}