{% extends "maps/base.html" %}
{% block content %}
<h1>Topics</h1>
<p>
{% if topic_list %}
<ul>
  {% for topic in topic_list %}
    <li>
        <a href="{% url 'maps:topic_detail' topic.id %}">{{ topic.text }}</a>
        {% if topic.owner == user %}
        (<a href="{% url 'maps:topic_update' topic.id %}">Edit</a> |
        <a href="{% url 'maps:topic_delete' topic.id %}">Delete</a>)
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no topics in the database.</p>
{% endif %}
</p>
<p>|
  {% if user.is_authenticated %}
  <a href="{% url 'maps:topic_create' %}">Add a topic</a> |
  {% endif %}
</p>
{% endblock %}